@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';
.toggle{
  position: relative;
  display: inline-block;
  width: 34px;
  height: 16px;
  float:right;
  input{
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $colorGrey;
    @include transition();
    border-radius: 20px;
    &:before{
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      border-radius: 20px;
      left: 0;
      bottom: 0;
      box-shadow:0 0 8px 1px rgba(0, 0, 0, 0.2);
      background-color: $colorGrey;
      @include transition();
    }
  }
  input:checked + .slider{
    background-color: $color1Opacity;
    &:before{
      -webkit-transform: right(34px - 16px);
      -ms-transform: translateX(34px - 16px);
      transform: translateX(34px - 16px);
      background-color: $color1;
      box-shadow:0 0 8px 1px rgba(89, 131, 252, 0.8);
    }
  }
}
