@import '../../styles/_variables.scss';
.tooltip{
  display:inline-block;
  position: absolute;
  padding:6px 8px;
  color:$colorLight;
  border-radius: $borderRadiusSmall;
  background-color: $colorDark;
  font-size:14px;
  top:-45px;
  left:50%;
  transform: translateX(-50%);
  animation:
    show .2s ease forwards,
    hide .2s 2s ease forwards;

  &:after{
    content: '';
    display:block;
    position:absolute;
    bottom:-5px;
    left:50%;
    transform:translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $colorDark;
  }
}
@keyframes show{
  0% {top: -35px; opacity:0;}
  60% {top: -55px; opacity:0.6;}
  100% {top: -45px; opacity:1;}
}
@keyframes hide{
  0% {opacity:1;}
  100% {opacity:0; top: -37px;}
}
