@import '../../styles/_variables.scss';

.headerHome {
  height: 100vh;
  max-height: 1030px;
  display: flex;
  flex-direction: column;
  background-color: $colorDark;
  color: $colorLight;
}
@media (max-height: 600px) {
  .headerHome{
    height:auto;
  }
}
@media (max-width: 768px) {
  .headerHome{
    height:auto;
  }
}
