$color1: #5983fc;
$color2: #3E60C1;
$color3: #2E4583;
$color4: #293556;
$colorLight: #fff;
$colorDark: #1f2024;
$colorGrey: #f5f5f5;
$color1Opacity: rgba(89, 131, 252, 0.2);
$borderRadiusBig: 12px;
$borderRadiusSmall: 4px;
$fontFamily: 'Roboto Mono', monospace;
.color1{
    color: $color1;
}
.color2{
    color: $color2;
}
.color3{
    color: $color3;
}
.color4{
    color: $color4;
}
