@import '_variables.scss';

/* roboto-mono-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-mono-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-mono-v13-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* roboto-mono-700 - latin-ext_latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-mono-v13-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-mono-v13-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

html, body{
  margin:0;
  padding:0;
  font-family: 'Roboto Mono', monospace;
  font-size:16px;
  overflow-x: hidden;
}
body{
  background-color: $colorGrey;
}
a{
  color:$color1;
  text-decoration: none;
  transition: all .2s ease-out;
  &:hover{
    color: $color2;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 0;
}
h2{
  font-size:22px;
}
p{
  margin-top: 0;
  line-height: 1.7em;
}
.clearfix {
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
button, input{
  font-family:$fontFamily;
  &:focus{
    outline:none;
  }
}
button{
  cursor:pointer;
  font-size:16px;
}
