@import "../../styles/_variables.scss";

.PageHeader {
  background-color: $colorDark;
  &__content {
    padding: 30px;
    color: $colorLight;
    width: 100%;
    @media (max-width: 500px) {
      padding: 20px;
    }
  }
}
